html, body{ margin:0; height:100%;width: 100% }
div,img{ width:100%;}
body{
    background-image: url("../image/back.jpg");
    background-size:100% 100%;
    background-attachment: fixed;
    position: relative;
}
<<<<<<< HEAD

body{ background-color:hsla(0,0%,18%,1.00)}
.jq22-header h1{ text-align:center; font-size:28px; color:#939393}
.navbar-brand{
    padding: 29px 15px;
    height: auto;
}
nav.navbar.bootsnav{
    border: none;
    margin-bottom: 150px;
}
.navbar-nav{
    float: left;
}
nav.navbar.bootsnav ul.nav > li > a{
    color: #474747;
    text-transform: uppercase;
    padding: 30px;
}
nav.navbar.bootsnav ul.nav > li:hover{
    background: #f4f4f4;
}
.nav > li:after{
    content: "";
    width: 0;
    height: 5px;
    background: #34c9dd;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.nav > li:hover:after{
    width: 100%;
}
nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    content: "+";
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 35%;
    right: 10%;
    transition: all 0.4s ease 0s;
}
nav.navbar.bootsnav ul.nav > li.dropdown.on > a.dropdown-toggle:after{
    content: "\f105";
    transform: rotate(90deg);
}
.dropdown-menu.multi-dropdown{
    position: absolute;
    left: -100% !important;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
}
@media only screen and (max-width:990px){
    nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after,
    nav.navbar.bootsnav ul.nav > li.dropdown.on > a.dropdown-toggle:after{ content: " "; }
    .dropdown-menu.multi-dropdown{ left: 0 !important; }
    nav.navbar.bootsnav ul.nav > li:hover{ background: transparent; }
    nav.navbar.bootsnav ul.nav > li > a{ margin: 0; }
}

.test{
    width:300px;
    height:300px;
    background-color: white;
}
=======
>>>>>>> 5d40342a43581a3408b5fc1c4e9ac0ebde3e0cc3
.desk{
    float:left;
    height:200px;
    width:269px;
}
.fixednav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}
.pic{
    position: relative;
    width:200px;
    height:150px;
}
.t1
{
    left:120px;
    top:0px;
    width:40px;
    height:40px;
    float: left;
    opacity: 1;
    background-color:black;
    position: relative;
}
.t2
{
    left:45px;
    top:-99px;
    width:40px;
    height:40px;
    float: left;
    opacity: 1;
    background-color:black;
    position: relative;
}
.t3
{
    left:153px;
    top:-98px;
    width:40px;
    height:40px;
    float: left;
    opacity: 1;
    background-color:black;
    position: relative;
}
.t4
{
    left:40px;
    top:-52px;
    width:40px;
    height:40px;
    float: left;
    opacity: 1;
    background-color:black;
    position: relative;
}

#right{
    position:fixed;
    width:20%;
    height:1000px;
    background-color: rgba(30,28,47,0.4);
    float:right;
    left:975px;
    top:77px;


}
#desks{
    float:left;
    position: relative;
    width:80%

}
#id{
    position:relative;
   left:110px;
    top:-33px;
    width:100px;
    height:100px;
    display:block;


}
#player
{
    position: relative;
    height:30%;
    border-bottom:1px solid rgba(30,28,47,0.4);
}