html, body{ margin:0; height:100%;width: 100% }
div,img{ width:100%;}
body{
    background-image: url("../image/back.jpg");
    background-size:100% 100%;
    background-attachment: fixed;
    position: relative;
}
.desk{
    float:left;
    height:200px;
    width:269px;
}
.pic{
    position: relative;
    width:200px;
    height:150px;
}
.t1
{
    left:120px;
    top:0px;
    width:40px;
    height:40px;
    float: left;
    opacity: 1;
    background-color:black;
    position: relative;
}
.t2
{
    left:45px;
    top:-99px;
    width:40px;
    height:40px;
    float: left;
    opacity: 1;
    background-color:black;
    position: relative;
}
.t3
{
    left:153px;
    top:-98px;
    width:40px;
    height:40px;
    float: left;
    opacity: 1;
    background-color:black;
    position: relative;
}
.t4
{
    left:40px;
    top:-52px;
    width:40px;
    height:40px;
    float: left;
    opacity: 1;
    background-color:black;
    position: relative;
}

#right{
    position:fixed;
    width:20%;
    height:1000px;
    background-color: rgba(30,28,47,0.4);
    float:right;
    left:975px;
    top:49px;


}
#desks{
    float:left;
    position: relative;
    width:80%

}
#id{
    position:relative;
   left:110px;
    top:-33px;
    width:100px;
    height:100px;
    display:block;


}
#player
{
    position: relative;
    height:30%;
    border-bottom:1px solid rgba(30,28,47,0.4);
}