html, body{ margin:0; height:100%;width: 100% }
div,img{ width:100%;}
#desk{
    position: relative;
    width:360px;
    height:240px;
}
.pic
{
    width:300px;
    height:150px;
    position:relative;
}
.t1
{
    left:180px;
    top:0px;
    width:50px;
    height:50px;
    float: left;
    opacity: 1;
    background-color:white;
    position: relative;
}
.t2
{
    left:50px;
    top:40px;
    width:50px;
    height:50px;
    float: left;
    opacity: 1;
    background-color:white;
    position: relative;
}
.t3
{
    left:150px;
    top:40px;
    width:50px;
    height:50px;
    float: left;
    opacity: 1;
    background-color:white;
    position: relative;
}
.t4
{
    left:30px;
    top:70px;
    width:50px;
    height:50px;
    float: left;
    opacity: 1;
    background-color:white;
    position: relative;
}
